<template name="companyItem">
    <div class="col s12 m4">
        <div class="workplace-item">
            <div class="vz-workplace-btn hide"><a class="btn-floating"><i class="material-icons">check</i></a></div>
            <div class="card vz-workplace">
                <div class="card-content">

                    <div class="top-content">
                        <span class="card-title"><b>{{company.name}}</b></span>
                        <hr>
                        <p>{{#if company.description}}
                            {{company.description}}
                        {{else}}
                            No description
                        {{/if}}</p>
                    </div>

                </div>

                <div class="card-action">
                    Owner: {{company.owner.profile.firstName}} {{owner.profile.lastName}}
                    <!--<a href="{{pathFor route='companyDetail' id=company._id}}" class='btn'>DETAILS</a>-->
                </div>
            </div>
        </div>
    </div>
</template>