<template name="usersByCompanyList">
    <main id="all" class="data-table with-tabs">
        <div class="table-container">
            <div class="row">
                {{#if canEditCompany}}
                <div class="col s12">
                    <a class="btn add-new" href="{{pathFor 'assignUsersToCompany' id=currentCompanyId}}"><i class="material-icons left">add</i>
                        Assign users</a>
                </div>
                {{/if}}
                    <div class="col s12">
                          <div class="table-wrapper">
                        <div class="table-header {{#if isCheckedUsers}}selected{{/if}}">
                            <h4 class="left">{{#if isCheckedUsers}}
                                <a class="remove" href=""><i class="material-icons left" style="margin-left: -3px;">close</i></a>
                                {{checkedCount}}
                                users selected{{else}}Users{{/if}}</h4>
                            <div class="right">
                                <a id="table_search" class="{{#if isCheckedUsers}}hide{{/if}}" href="#">
                                    <i class="search material-icons left">search</i>
                                    <i class="close material-icons left">close</i>
                                </a>
                                {{#if isCheckedUsers}}
                                    <a href="#"><i class="material-icons left">more_vert</i></a>
                                {{else}}
                                    <a href="#"><i class="material-icons left">filter_list</i></a>
                                {{/if}}
                            </div>
                        </div>
                        <table id="active-users-table" class="row-border" width="100%">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="filled-in" id="select-all" name="select-all"/><label
                                        for="select-all"></label>Name
                                    <span class="sort">
                        <a href="#"><i class="material-icons sorting_asc">keyboard_arrow_up</i></a>
                        <a href="#"><i class="material-icons sorting_desc">keyboard_arrow_down</i></a>
                      </span>
                                </th>
                                <th>
                                    Role
                                    <span class="sort">
                        <a href="#"><i class="material-icons sorting_asc">keyboard_arrow_up</i></a>
                        <a href="#"><i class="material-icons sorting_desc">keyboard_arrow_down</i></a>
                      </span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>

                            {{#each users}}
                                <tr>
                                    <td><input type="checkbox" checked={{isChecked}} class="filled-in" id="{{_id}}" name="table-item"/>
                                        <label for="{{_id}}"></label><a href="{{pathFor 'userRoles' id=_id}}">{{userName}}</a>
                                    </td>
                                    <td>{{userRole}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>