<template name="notificationSettings">
    <main id="notifications" class="settings">
        <div class="container">
            <div class="row">
                <!--Card for System notifications-->
                <div class="col s12">
                    <div class="card notifications">
                        <h3 class="title">System notifications</h3>
                        <p class="sub-title">You will recieve notifications in Vezio for the following events</p>
                        <ul>
                            <li>
                                <input class="filled-in" id="cbox1" type="checkbox">
                                <label for="cbox1">Event #1</label>
                            </li>
                            <li>
                                <input class="filled-in" id="cbox2" type="checkbox">
                                <label for="cbox2">Event #2</label>
                            </li>
                            <li>
                                <input class="filled-in" id="cbox3" type="checkbox">
                                <label for="cbox3">Event #3</label>
                            </li>
                            <li>
                                <input class="filled-in" id="cbox4" type="checkbox">
                                <label for="cbox4">Event #4</label>
                            </li>
                            <li>
                                <input class="filled-in" id="cbox5" type="checkbox">
                                <label for="cbox5">Event #5</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Card for E-mail notifications-->
                <div class="col s12">
                    <div class="card notifications">
                        <h3 class="title">E-mail notifications</h3>
                        <p class="sub-title">You will recieve e-mail notifications for the following events</p>
                        <ul>
                            <li>
                                <input class="filled-in" id="ebox1" type="checkbox">
                                <label for="ebox1">Event #1</label>
                            </li>
                            <li>
                                <input class="filled-in" id="ebox2" type="checkbox">
                                <label for="ebox2">Event #2</label>
                            </li>
                            <li>
                                <input class="filled-in" id="ebox3" type="checkbox">
                                <label for="ebox3">Event #3</label>
                            </li>
                            <li>
                                <input class="filled-in" id="ebox4" type="checkbox">
                                <label for="ebox4">Event #4</label>
                            </li>
                            <li>
                                <input class="filled-in" id="ebox5" type="checkbox">
                                <label for="ebox5">Event #5</label>
                            </li>
                        </ul>
                        <ul>
                            <li class="newsletter">
                                <input class="filled-in" id="newsletter" type="checkbox">
                                <label for="newsletter"><span>Subscribe to occasional Vezio newsletter about new features and updates (spam basically)</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>