<template name="taskCreateModalCentre">

        <div class="modal-content">
            <div class="modal-head">
                <h4> Add task</h4>
            </div>
            <ul>

                <div id="titleCentreModal">
                    <input type="text" id="titleTaskModal" placeholder="Task name" data-length="80" />
                </div>

                <div class="side-single">
                    {{> searchDropdownSingleChoice projectSearchParams}}
                </div>
                <div class="side-single">
                    <a class="modal-assign-users">{{assignedUsersCount}}<i class="material-icons left">person</i></a>
                </div>
                <div class="side-single">
                    <a class="modal-attach-files">{{attachedFilesCount}}<i class="material-icons left">attachment</i></a>
                </div>
                <div>
                    <textarea id="descriptionCentreModal" style="height: 200px;" placeholder="Enter description" maxlength="500" data-length="500"></textarea>
                </div>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-action btn-flat" id="save" href="">Save</a>
            <a class="modal-action modal-close btn-flat" href="">Close</a>
        </div>

</template>