<template name="recoverPassword">

    <div class="row">

        <div class="col s12 m8 offset-m2 l4 offset-l4 no-padding">

            <div class="row no-margin">

                <div class="col s10 offset-s1 z-depth-1 white">

                    <form id="resetPasswordForm" class="login-form">

                        <div class="row">
                            <div class="col s12">
                                <h5 class="center no-margin">Set new password</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password">
                                <label for="password" data-success="">New Password</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="passwordConfirm" type="password">
                                <label for="passwordConfirm" class="">Re-enter Password</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <button type="submit" class="btn-large btn-dark waves-effect waves-light col s12">Change
                                    password
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>


</template>