<template name="jobCreateModalCentre">

        <div class="modal-content">
            <div class="modal-head">
                <h4> Add job</h4>
            </div>
            <ul>

                <div id="titleCentreModal">
                    <input type="text" id="titleJobModalCentre" placeholder="Job name" data-length="80" />
                </div>


                <div class="info">
                    <input type="radio" name="workerLocation" value="anywhere" checked="true" id="anywhere" />
                    <label for="anywhere">Remote (work from anywhere)</label>
                    <input type="radio" name="workerLocation" value="restricted" id="restricted" />
                    <label for="restricted">Remove (restricted location)</label>
                    {{#if isWorkerLocationRestricted}}
                        {{> workerLocationChooser workerLocation=getWorkerLocation}}
                    {{/if}}
                </div>


                <div class="tags">
                    {{> skillsChip data=getCurrentSkills skills=getAllSkills}}
                </div>

                <div class="side-single">
                    <input type="radio" name="contract-type" value="Full-time" id="full-time"/>
                    <label for="full-time">Full time</label>

                    <input type="radio" name="contract-type" value="Part-time" id="part-time"/>
                    <label for="part-time">Part time</label>

                    <input type="radio" name="contract-type" value="Contract" id="contract"/>
                    <label for="contract">Contract</label>

                    <input type="radio" name="contract-type" value="Internship" id="internship"/>
                    <label for="internship">Internship</label>
                </div>
                <br>
                <div class="side-single create-edit-salary">
                    <input type="radio" name="salary-type" value="Annual" id="annual"/>
                    <label for="annual">Annually</label>
                    <input type="radio" name="salary-type" value="Monthly" id="monthly"/>
                    <label for="monthly">Monthly</label><br>
                    <input type="radio" name="salary-type" value="Hourly" id="hourly"/>
                    <label for="hourly">Hourly</label>
                    <input type="radio" name="salary-type" value="Fixed-price" id="fixed-price"/>
                    <label for="fixed-price">Fixed price</label>
                    <input type="radio" name="salary-type" value="Undisclosed" id="undisclosed"/>
                    <label for="undisclosed">Undisclosed</label>
                    {{> Template.dynamic template=getTemplateAccordingToSalaryType data=getSalary}}
                </div>
                <div class="side-single">
                    <input type="number" id="equity" step="0.01" placeholder="Enter equity"/>
                </div>

                <div>
                    <textarea id="descriptionCentreModal" style="height: 200px;" placeholder="Enter description" maxlength="500" data-length="500"></textarea>
                </div>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-action btn-flat" id="save" href="">Save</a>
            <a class="modal-action modal-close btn-flat" href="">Close</a>
        </div>

</template>