<template name="videoShare">
  <main id="videoShare" style="margin-top: 40px">
    {{#if isReady}}
      <div class="title" style="text-align: center">{{videoName}}</div>
      <div class="createdAt" style="text-align: center">Uploaded at: {{uploadedAt}}</div>
      <video id="video-player" width="800" height="600" controls style="display: flex;margin: 0 auto">
        <source src="{{videoUrl}}" type="{{videoType}}">
      </video>
    {{else}}
      {{> loading}}
    {{/if}}
  </main>
</template>