<template name="googleLogin">

    <div class="row">
        <div class="input-field col s12 no-margin">
            <div class="col s12 no-shadow btn-large icon-left waves-effect waves-light btn-red text-transform-none"
                 id="btn-google-login">
                <div class="btn-icon">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="center btn-text">{{label}} with Google</div>
            </div>
        </div>
    </div>

</template>