<template name="topNavBar">
    <header>
        <div class="row top-bar">
            <div class="col m4 s7">
                <div class="nav-drawer">
                    {{>leftMenu}}
                    <a class="menu button-collapse" data-activates="slide-out" data-menu="6">
                        <div class="icon"></div>
                        <span>{{pageTitle}}</span>
                    </a>
                </div>
            </div>

            {{>searchBar}}

            <div class="col m3 s5">
                <div class="action-bar right-align">
                    <a class="search-icon hide-on-med-and-up" href="#">
                        <i class="material-icons">search</i>
                    </a>

                    <a class="notification dropdown-button" data-beloworigin="true"
                       data-activates="notification-dropdown" href="#">
                        <i class="material-icons hide">notifications</i>
                        <span>
                            {{#if unreadNotificationsCount}}
                                {{unreadNotificationsCount}}
                            {{else}}
                                0
                            {{/if}}
                        </span>
                    </a>

                    <div class="dropdown-content notifications" id="notification-dropdown">
                        <div class="top">
                            <a href="#" class="left">
                                {{#if unreadNotificationsCount}}
                                    {{unreadNotificationsCount}}
                                {{else}}
                                    0
                                {{/if}} unread notifications</a>
                            <a href="#" class="right" id="clear-all-notifications">Clear all</a>

                            <a href="#" class="all-notification">
                                <i class="material-icons left">arrow_back</i>All notifications
                            </a>
                        </div>

                        {{#each unreadNotifications}}
                            <div class="card">
                                <div class="image">
                                    <div class="single active">
                                        <img src="{{profilePhoto}}" alt="">
                                    </div>
                                </div>

                                <div class="detail">
                                    <h4>{{title}}</h4>
                                    <p>{{message}}</p>
                                </div>
                                <a href="" class="setting material-icons" id="mark-as-read">close</a>
                            </div>
                        {{/each}}
                        <div class="action center-align">
                            <a href="{{pathFor 'notifications'}}" class="all-noti">See all notifications</a>
                        </div>
                    </div>

                    <a class="dropdown-button signout-dropdown" href="" data-beloworigin="true"
                       data-activates="user-switch-dropdown">{{currentUser.profile.firstName}}
                        {{#if selectedCompany}}
                            ({{companyName}})
                        {{/if}}
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>

                    <div class="dropdown-content user-switch" id="user-switch-dropdown">
                        <div class="user active" id="workers-view">
                            <div class="image1"><img src="{{profilePhoto}}" alt=""></div>
                            <div class="detail">
                                <h4>{{currentUser.profile.fullName}}</h4>
                                <p>{{currentUser.emails.[0].address}}</p>
                                <p><a id="view-profile" href="#">View profile</a></p>
                            </div>
                        </div>

                        <div class="scrollable-div">
                            {{#if userCompanies}}
                                {{#each userCompanies}}
                                    <a id="company" class="single" href="#">
                                        <div class="image">
                                            {{#if logoUrl}}
                                                <img src="{{logoUrl}}" alt="">
                                            {{else}}

                                            {{/if}}
                                            <span class="sub-img">
                                        <img src="{{profilePhoto}}" alt="">
                                    </span>
                                        </div>
                                        <div class="detail">
                                            <h3>{{name}}</h3>
                                            <p>3 new messages</p>
                                        </div>
                                    </a>
                                {{/each}}
                            {{/if}}
                        </div>

                        <div class="action">
                            <a href="#" id="manage-account">Manage Account</a>
                            <a href="#" class="btn btn-logout waves-effect waves-light">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>


