<template name="uploadBackgroundPhotoModal">
    <section class="profile-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="top-info">
                    <!-- Modal Structure -->
                    <div id="edit-background-picture" class="modal edit-profile-picture">
                        <div class="modal-content">
                            <div class="head">Edit cover Picture</div>

                            <div class="content">
                                <div class="inner">
                                    <form id="edit-profile-picture-form">
                                        <div class="dropzone" id="background-picture-drop-zone">
                                            <div class="file-field input-field" style="padding-top: 75px;">
                                                {{#if isPhotoToUpload}}
                                                    <div class="btn">
                                                        <span><i class="fa fa-photo"></i></span>
                                                    </div>
                                                    <br>
                                                    <h4>Drag a photo here</h4>
                                                {{/if}}
                                                <div class="dropzone-previews"></div>
                                            </div>
                                        </div>

                                        <div class="divider">
                                            <div class="outer">
                                                <button>or</button>
                                            </div>
                                        </div>

                                        <div class="file-field input-field upload-button">
                                            <div class="btn">
                                                <span><i class="fa fa-upload"></i> Upload from computer</span>
                                                <input type="file" id="background-photo-input">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="col s12 modal-footer">
                            <a href="#" class="modal-action waves-effect waves-red btn-flat save">Save</a>
                            <a href="#"
                               class="modal-action waves-effect waves-red btn-flat cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>