<template name="projectCreateModalCentre">

        <div class="modal-content">
            <div class="modal-head">
                <h4> Add project</h4>
            </div>
            <ul>

                <div id="titleCentreModal">
                    <input type="text" id="titleProjectModalCentre" placeholder="Project name" data-length="80" />
                </div>

                <div id="keyCentreModal">
                    <input type="text" id="project-key-modal" placeholder="Project key" maxlength="6"/>
                </div>

                {{> searchDropdownSingleChoice companySearchParams}}

                <div id="tagsCentreModal">
                    {{> tagsBlock tags=tags onReactiveVarSet=onReactiveVarSet}}
                </div>

                <div>
                    <textarea id="descriptionCentreModal" style="height: 200px;" placeholder="Enter description" maxlength="500" data-length="500"></textarea>
                </div>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-action btn-flat" id="save" href="">Save</a>
            <a class="modal-action modal-close btn-flat" href="">Close</a>
        </div>

</template>