<template name="companiesList">
    <section class="header-tabs">
        <div class="row tabs-row">
            <ul class="tabs">
                <li role="presentation" class="tab  {{accent 'allCompanies'}}"><a class="{{active 'allCompanies'}}" href="#">All</a>
                </li>
                <li role="presentation" class="tab {{accent 'archivedCompanies'}}"><a class="{{active 'archivedCompanies'}}" href="#">Archived</a></li>
            </ul>
        </div>
    </section>
    <div style="margin-top: 161px;">
        {{#if formChanged}}
            {{> Template.dynamic template=tab}}
        {{/if}}
    </div>
</template>