<template name="settings">
    <section class="header-tabs">
        <div class="row tabs-row">
            <ul class="tabs">
                <li role="presentation" class="tab  {{accent 'generalSettings'}}"><a class="{{active 'generalSettings'}}" href="#">General</a></li>
                <li role="presentation" class="tab {{accent 'billingSettings'}}"><a class="{{active 'billingSettings'}}" href="#">Billing</a></li>
                <li role="presentation" class="tab {{accent 'notificationSettings'}}"><a class="{{active 'notificationSettings'}}" href="#">Notifications</a></li>
                <li role="presentation" class="tab {{accent 'securitySettings'}}"><a class="{{active 'securitySettings'}}" href="#">Security</a></li>
            </ul>
        </div>
        </section>
            {{> Template.dynamic template=tab}}
</template>