<template name="loginPage">
  <div class="sign-in valign-wrapper">
    <div class="valign">
      <p>
        <a class="logo" href="#">
          <img src="/images/logo.png" />
        </a>
      </p>
      <p>Log in and get to work</p>
      <a class="btn waves-effect waves-light" href="#">Login with google<i class="fa fa-google left"></i></a>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col s12"></div>
      </div>
    </div>
  </footer>
</template>
