<template name="dashboard">
    <main class="dashboard">
        <div class="createButtonsContainer">
            <a href="#" class="btn add-new createTask"><i class="material-icons">add</i>Create task</a>
            <a href="#" class="btn add-new createProject"><i class="material-icons">add</i>Create project</a>
            {{#if isCompanyAccount}}
                <a href="#" class="btn add-new createContract"><i class="material-icons">add</i>Create contract</a>
            {{/if}}
            {{#unless isCompanyAccount}}
                <a href="#" class="btn add-new createCompany"><i class="material-icons">add</i>Create company</a>
            {{/unless}}
            <a href="#" class="btn add-new createJob"><i class="material-icons">add</i>Create job</a>
        </div>
        {{> Template.dynamic template=tab}}
    </main>
</template>
