<template name="archivedTeams">
    <main id="all" class="data-table with-tabs">
        <div class="table-container">
            <div class="row">
                <div class="col s12">
                    <div class="table-wrapper">
                        <div class="table-header {{#if isCheckedTeams}}selected{{/if}}">
                            <h4 class="left">{{#if isCheckedTeams}}
                                <a class="remove" href="#"><i class="material-icons left"
                                                              style="margin-left: -3px;">close</i></a>
                                {{checkedCount}}
                                teams selected{{else}}Teams{{/if}}</h4>
                            <div class="right">
                                <a id="table_search" class="{{#if isCheckedTeams}}hide{{/if}}" href="#">
                                    <i class="search material-icons left">search</i>
                                    <i class="close material-icons left">close</i>
                                </a>
                                {{#if isCheckedTeams}}
                                    <a href="#" id="restore-teams"><i class="material-icons left">replay</i></a>
                                    <a href="#"><i class="material-icons left">more_vert</i></a>
                                {{else}}
                                    <a href="#"><i class="material-icons left">filter_list</i></a>
                                {{/if}}
                            </div>
                        </div>
                        <table id="archived-teams-table" class="row-border" width="100%">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="filled-in" id="select-all" name="select-all"/><label
                                        for="select-all"></label>Name
                                    <span class="sort">
                        <a href="#"><i class="material-icons sorting_asc">keyboard_arrow_up</i></a>
                        <a href="#"><i class="material-icons sorting_desc">keyboard_arrow_down</i></a>
                      </span>
                                </th>

                                <th>
                                    Private
                                    <span class="sort">
                        <a href="#"><i class="material-icons sorting_asc">keyboard_arrow_up</i></a>
                        <a href="#"><i class="material-icons sorting_desc">keyboard_arrow_down</i></a>
                      </span>
                                </th>
                                <th>
                                    Assigned to
                                    <span class="sort">
                        <a href="#"><i class="material-icons sorting_asc">keyboard_arrow_up</i></a>
                        <a href="#"><i class="material-icons sorting_desc">keyboard_arrow_down</i></a>
                      </span>
                                </th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {{#each teams}}
                                <tr>
                                    <td><input type="checkbox" checked={{isChecked}} class="filled-in" id="{{_id}}"
                                               name="table-item"/><label
                                            for="{{_id}}"></label>{{name}}
                                    </td>
                                    <td>{{formatIsPrivate isPrivate}}</td>
                                    <td id="assignedUsers">
                                        {{#if membersIds}}
                                            {{#each membersIds}}
                                                {{>assignedUsersWithPhoto}}
                                            {{/each}}
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{>teamActions data=this isArchived=true}}
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>