<template name="contractCreateEditModalActions">
  <div class="left">
    <a id="close-modal" href="#" class="modal-close modal-action">
      <i class="material-icons">close</i>
    </a>
    <a id="save" href="#" class="modal-save modal-action">save</a>
  </div>
  <div class="right">
    {{#if canAcceptOrDecline}}
      <button id="acceptContract">Accept</button>
      <button id="declineContract">Decline</button>
    {{/if}}

    {{#if canPauseOrEnd}}
      <button id="pauseContract">Pause</button>
      <button id="endContract">End</button>
    {{/if}}

    {{#if canContinue}}
      <button id="continueContract">Continue</button>
      <button id="endContract">End</button>
    {{/if}}
  </div>
</template>
