<template name="projectListItemMore">
    <div class="collapsible-body">
        {{#if userIsBoss}}
            <div class="col s12">
                <div class="action">
                    <a class="dropdown-button" href="#" data-activates="chartModes_{{project._id}}"
                       data-beloworigin="true">{{getCurrentMode}}</a>
                    <ul class="dropdown-content" id="chartModes_{{project._id}}">
                        <li><a href="#">Cost</a></li>
                        <li><a href="#">Hours</a></li>
                    </ul>
                </div>
            </div>
        {{/if}}

        {{> projectListItemChart getCurrentMode}}
        <div class="col m4 s12">
            <div class="info">
                <h3><strong>{{resultThisWeek}}</strong> {{modeVerb}} this week</h3>
                <p class="green-text">{{compareToLastWeek}}</p>
            </div>
        </div>
        <div class="col s12">
            <div style="display: inline-flex; float: right;">
                {{#if isProjectOwner}}
                    <div class="bottom right-align"><a class="open-project">Edit Project</a></div>
                    <div class="bottom right-align archive"><a class="open-project" href="#">{{#if isArchived}}
                        Restore{{else}}Archive{{/if}} Project</a></div>
                {{/if}}
                <!--{{#if canAssignUsers}}-->
                    <!--<div class="bottom right-align"><a class="open-project"-->
                                                       <!--href="{{pathFor 'assignUsersToProject' id=project._id}}">Assign-->
                        <!--User</a></div>-->
                <!--{{/if}}-->
                <div class="bottom right-align"><a class="open-project" href="{{projectOpenURL}}">Open Project</a></div>
            </div>
        </div>
    </div>
</template>
